* {
box-sizing: border-box;
font-family: sans-serif;
}
html{
overflow-x: hidden;
}
body { margin: 0 }

h1, h2, h3, h4, h5, h6, p {
margin: 0;
padding: 0;
margin-bottom: 10px
}


/*
* Flex
*/

.flex { display: flex }
.flex-d-c { flex-direction: column }
.flex-wrap { flex-wrap: wrap }

header{
background-image: url(https://i.pinimg.com/originals/de/0f/4b/de0f4bf6e8075312a6eb20ad7044571a.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
margin-top: 10px;
height: 600px;
margin-top: 0px;
}

.container {
width: 1170px;
margin: 0 auto;
}

.header-text {
text-align: left;
font-size: 28px;
padding-top: 120px;
}

.header-text p {
font-family:Hoefler;
font-size: 20px;
color: rgb(54, 54, 54);
}

.header-text h1{
color: rgb(54, 54, 54);
margin-top: -10px;
font-size: 68px;
margin-left: -5px;
} 

.header-block{
background-color: rgb(54, 54, 54);
color: white;
font-size: 18px;
display: block;
height: 41px;
width: 390px;
text-align: center;
border-radius: 5px;
padding: 10px;
margin-top: -7px;
font-weight: 550;
font-family:Hoefler;
}

.header-block::first-letter{
color:rgb(7, 163, 163);
}

ul{
list-style: none;
padding: 0px;
margin-left: -15px;
}

li:before{
content: '✔';
position: absolute; top: 0; left: 0;
color: rgb(7, 163, 163);
font-size: 20px;
}

.list li{
position: relative;
margin: 17px;
padding-left: 20px;
font-size: 20px;
color:rgb(54, 54, 54) ;
font-weight: 520;
}

.button1{
border-radius:5px;
text-transform: uppercase;
margin-top: 12px;
width: 180px;
height: 45px;
background-color: rgb(7, 163, 163)  ;  
border: solid 0px rgb(7, 163, 163) ;
font-weight:initial;
color: white;
font-weight: 680;
}

.button1 img{
height: 20px;
margin-left: -20px;
}

.navigation{
margin-top: 155px;
margin-left: 0px;
}

.navigation img{
margin-top: -5px;
margin-left: 0px;
}

.nav-list li {
margin-left: 5px;
margin-top: 10px;
font-size: 18px;
}

.nav-list a{
color: rgb(54, 54, 54) ;
font-weight: 550;
text-decoration: none;
padding: 15px;
}

.nav-list{
margin-left: 300px;
}

.nav-list li a:hover {
background-color: rgb(7, 163, 163);
color:white;
border-radius: 10px;
}

hr { 
height: 1px;
color:rgb(54, 54, 54);
margin-top: 30px;
border: 1px solid gray;
}

.title {
overflow: hidden;
text-align: center;
margin-top: 45px;

}
.title h1 {
display: inline-block;
vertical-align: middle;
font-weight: 650;
font-size: 25px;
color:rgb(54, 54, 54) ;
margin-top: 5px;
}

.title:before,
.title:after {
content: "";
display: inline-block;
vertical-align: middle;
width: 100%;
height: 4px;
background-color: rgb(230, 228, 228);
position: relative;
border: solid 1px gray;
}

.title:before {
margin-left: -100%;
left: -10px;
}

.title:after {
margin-right: -100%;
right: -10px;
}

.title span{
color: rgb(7, 163, 163);
}

.title h1 img{
padding-left: -8px;
}

.box1{
text-align: center;
}

.box1 p{
color: rgba(54, 54, 54, 0.541);
font-weight: 530;
}

.box2{
margin-top: 50px;
}

.box3{
text-align: center;
padding-left: 0px;
margin: 10px;
}

.box3 h3{
color: rgb(54, 54, 54);
margin-top: 30px;

}

.box3 p{
color:rgba(54, 54, 54, 0.678);
font-size: 19x; 
}


.readmore{
border-radius:5px;
text-transform: uppercase;
margin-top: 12px;
width: 100px;
height: 35px;
background-color:white  ;  
border: solid 1px rgba(114, 111, 111, 0.788) ;
font-weight:initial;
color: rgba(54, 54, 54, 0.521);
font-weight: 720;
font-size: 11px;
}

.section1{
background-color: white;
height: 500px;
margin-top: 100px;
}

.section2{
background-color:rgb(54, 54, 54);
height: 580px;
margin-top: 30px;
}

.section2-img{
text-align: center;
top: -25px;
position: relative;;
}

.section2 p{
color:rgb(97, 96, 96);
font-size: 17px;
font-weight: 550  ;
}

.title2 {
overflow: hidden;
text-align: center;
margin-top: -55px;
padding-top: 30px;

}
.title2 h1 {
display: inline-block;
vertical-align: middle;
font-weight: 650;
font-size: 25px;
color:white ;
margin-top: 5px;
}

.title2:before,
.title2:after {
content: "";
display: inline-block;
vertical-align: middle;
width: 100%;
height: 4px;
background-color: rgb(54, 54, 54);
position: relative;
border: solid 1px rgb(54, 54, 54);
}

.title2:before {
margin-left: -100%;
left: -10px;
}

.title2:after {
margin-right: -100%;
right: -10px;
}

.title2 span{
color:  rgb(7, 163, 163) ;
}

.title2 h1 img{
padding-left: -8px;
}

.box4{
margin-top: 65px;
}

.box5-text{
margin-top: 30px;
padding-top: -100px;
}

.box5-text h4 {
margin-top: -50px;
margin-left: 100px;
color: white;
}

.box5-text p{
margin-top: 0px;
margin-left: 100px;
color: rgb(128, 127, 127)
}

.box5-img{
float: right;
margin-top: -280px;
width: 400px;
}

.section3{
background-color:white;
height: 580px;
margin-top: 20px;
text-align: left;
}

.box6{
text-align:left;
padding-left: 20px;
margin: 0px;
padding-bottom: -400px; 
}

.box6-img{
float: left;
height: 50px;
margin-top: 67px;
}

.box6 h3{
color: rgba(54, 54, 54, 0.897);
margin-top: 70px;
margin-left: 63px;
font-size: 15px;
}

.box6 button{
margin-left: 145px;
}

.box6-text1{
color:rgba(54, 54, 54, 0.678);
font-size: 15px; 
margin-left: 15px;
float: left;
text-transform: capitalize;

}


.box6-text2{
color:rgba(54, 54, 54, 0.678);
font-size: 19x; 
margin-left: 65px;
float: left;
}

.title3 {
overflow: hidden;
text-align: center;
margin-top: -55px;
padding-top: 30px;

}
.title3 h1 {
display: inline-block;
vertical-align: middle;
font-weight: 650;
font-size: 25px;
color:white ;
margin-top: 5px;
}

.title3:before,
.title3:after {
content: "";
display: inline-block;
vertical-align: middle;
width: 100%;
height: 4px;
background-color: rgb(54, 54, 54);
position: relative;
border: solid 1px rgb(54, 54, 54);
}

.title3:before {
margin-left: -100%;
left: -10px;
}

.title3:after {
margin-right: -100%;
right: -10px;
}

.title3 span{
color:  rgb(7, 163, 163) ;
}

.title3 h1 img{
padding-left: -8px;
}

.title3 p{
color:rgb(97, 96, 96);
font-size: 17px;
font-weight: 550  ;
}
  

/*
Circle bar section4
*/

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 20%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin-left: 20px;
  max-width: 80%;
  max-height: 180px;
  
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 0.8;
}

.circle {
  fill: none;
  stroke-width: 0.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke:rgb(7, 163, 163);
}

.circular-chart.green .circle {
  stroke: rgb(7, 163, 163);
}

.circular-chart.blue .circle {
  stroke: rgb(7, 163, 163);
}

.percentage {
  fill: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 0.4em;
  font-weight: 800;
  text-anchor: middle;
}

.style-p-bar{
  margin-left: 60px;
  margin-top: 10px;
  color:rgb(161, 161, 161);
  font-size: 17px;
  font-weight: 700;
  

}

/*
*/

.section4{
background-color:rgb(54, 54, 54);
height: 400px;
margin-top: 15px;
}

.section4-img{
text-align: center;
top: -25px;
position: relative;;
}




.title4 {
overflow: hidden;
text-align: center;
margin-top: 45px;

}
.title4 h1 {
display: inline-block;
vertical-align: middle;
font-weight: 650;
font-size: 25px;
color:rgb(54, 54, 54) ;
margin-top: 5px;
}

.title4:before,
.title4:after {
content: "";
display: inline-block;
vertical-align: middle;
width: 100%;
height: 4px;
background-color: rgb(230, 228, 228);
position: relative;
border: solid 1px gray;
}

.title4:before {
margin-left: -100%;
left: -10px;
}

.title4:after {
margin-right: -100%;
right: -10px;
}

.title4 span{
color: rgb(7, 163, 163);
}

.title4 h1 img{
padding-left: -8px;
}


.section5{
background-color:white;
height: 630px;
margin-top: 20px;
}

.section5-photos{
margin-top: 70px;
}
.section5-photos img{
object-fit:cover;
width: 275px;
margin: -5px;
}

.button2{
border-radius:5px;
text-transform: uppercase;
margin-top: 60px;
margin-left: 33px;
width: 1000px;
height: 35px;
background-color: rgb(7, 163, 163)  ;  
border: solid 0px rgb(7, 163, 163) ;
color: white;
font-weight: 750;
align-items: center;
}

.container-95{
width: 95%;
}

.section6{
background-color:rgb(54, 54, 54);
height: 400px;
margin-top: 0px;
}

.section6-img{
text-align: center;
top: -25px;
position: relative;;
}

.title5 {
overflow: hidden;
text-align: center;
margin-top: -55px;
padding-top: 30px;

}
.title5 h1 {
display: inline-block;
vertical-align: middle;
font-weight: 650;
font-size: 25px;
color:white ;
margin-top: 10px;
}

.title5 p{
color:rgb(97, 96, 96);
font-size: 17px;
font-weight: 550  
}

.title5:before,
.title5:after {
content: "";
display: inline-block;
vertical-align: middle;
width: 100%;
height: 4px;
background-color: rgb(54, 54, 54);
position: relative;
border: solid 1px rgb(54, 54, 54);
}

.title5:before {
margin-left: -100%;
left: -10px;
}

.title5:after {
margin-right: -100%;
right: -10px;
}

.title5 span{
color:  rgb(7, 163, 163) ;
}

.title5h1 img{
padding-left: -8px;
}

.numbers{
color:rgb(255, 255, 255);
font-size: 80px;
font-weight: 550  ;
margin-left: 70px;
margin-top: 30px;
}

.main-numbers img{
margin-top: 30px;
margin-left: 8px;
margin-right: 8px;
}

.numbers-p1{
color: gray;
margin-left: 75px;
}

.numbers-p2{
color: gray;
margin-left: 78px;
}

.numbers-p3{
color: gray;
margin-left: 115px;
}

.numbers-p4{
color: gray;
margin-left: 100px;
}

.section7{
height: 110px;
background:  rgb(7, 163, 163);
}

.section7 h3{
color: white;
padding-top: 50px;
}

.button3{
border-radius:5px;
text-transform: uppercase;
width: 180px;
height: 40px;
background-color:white  ;  
border: solid 1px rgba(114, 111, 111, 0.788) ;
font-weight:initial;
color: rgba(54, 54, 54, 0.849);
font-weight: 720;
font-size: 11px; 
float: right;
margin-top:   40px;
margin-left: 100px;
margin-right: -90px;
}

.section8{
background-color:rgb(255, 255, 255);
height: 600px;
margin-top: 0px;
}

.title6 {
overflow: hidden;
text-align: center;
margin-top: 45px;

}
.title6 h1 {
display: inline-block;
vertical-align: middle;
font-weight: 650;
font-size: 25px;
color:rgb(54, 54, 54) ;
margin-top: 5px;
}

.title6:before,
.title6:after {
content: "";
display: inline-block;
vertical-align: middle;
width: 100%;
height: 4px;
background-color: rgb(230, 228, 228);
position: relative;
border: solid 1px gray;
}

.title6:before {
margin-left: -100%;
left: -10px;
}

.title6:after {
margin-right: -100%;
right: -10px;
}

.title6 span{
color: rgb(7, 163, 163);
}

.title6 h1 img{
padding-left: -8px;
}

.button4{
border-radius:5px;
text-transform: uppercase;
width: 140px;
height: 38px;
background-color: rgb(7, 163, 163)  ;  
border: solid 0px rgb(7, 163, 163) ;
font-weight:initial;
color: white;
font-weight: 750;
float: center;
font-size: 12px;
}

.button4-1{
margin-top: -23px;
}
.section-8-mainbox{
margin-top: 30px;
}

.section-8-box1{
height: 440px;
width: 25%;
text-align: center;
border: solid 1px rgba(128, 128, 128, 0.39);
margin-left: 30px;
}

.section-8-mainbox hr{
width: 150px;
height: 0px;
border: solid 1px rgba(128, 128, 128, 0.493);
margin-top: 15px;
}

.section8-style-p1{
margin-top: 20px;
text-align: center;
color: rgb(27, 27, 27);
font-size: 14px;
}

.section8-style-p2{
margin-top: 25px;
text-align: center;
color: rgba(77, 76, 76, 0.712);
font-size: 14px;

}


.section8-style-p3{
margin-top: -20px;
text-align: center;
color:rgba(77, 76, 76, 0.712);
font-size: 13px;
}


.section9{
height: 280px;
background-color  :  rgba(7, 163, 163, 0.61);
}

.section9-img{
text-align: center;
top: -25px;
position: relative;;
}


.section9-span{
color: rgb(7, 163, 163);
font-weight: 750;

}

/* 
Slider 1 section 8
*/

.prev1, .next1{
  position: relative;
  cursor: pointer;
  width: auto;
  padding-top: 5px;
  padding-bottom:5px ;
  padding-right: 12px;
  padding-left: 12px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 5px;
  background-color: rgb(59, 59, 59);
  height: 40px;
  top: -63px;
  left: 11%;
  margin-left:326px;

  }


/* 
Text slider section9
*/

.mySlides {display: none}


.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}


.prev, .next {
cursor: pointer;
position: absolute;
top: 140px;
width: auto;
margin-left: 460px;
padding-top: 8px;
padding-right: 12px;
padding-left: 12px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 5px;
user-select: none;
background-color: rgb(59, 59, 59);
height: 40px;
}


.next {
right: 0px;
border-radius: 5px;
margin-right:460px;
}


.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}


.button5-slide{
border-radius:5px;
text-transform: uppercase;
width: 270px;
height: 40px;
background-color:rgb(233, 232, 232)  ;  
border: solid 1px rgb(233, 232, 232) ;
font-weight:initial;
color: rgba(54, 54, 54, 0.849);
font-weight: 500;
font-size: 11px; 
margin-top:  15 px;
margin-bottom: 20px;
margin-left: 360px;
}

/*
Slider 2 section10
*/

.prev2, .next2{
  position: relative;
  cursor: pointer;
  width: auto;
  padding-top: 5px;
  padding-bottom:5px ;
  padding-right: 12px;
  padding-left: 12px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 5px;
  background-color: rgb(59, 59, 59);
  height: 40px;
  }

  .prev2{
    margin-left: 50px;
    top: -90px;
  }

  .next2{
    margin-left: 1155px;
    top: -90px;
  }


/* 
section 10
*/

.section10{
height: 220px;
background-color  :  rgb(59, 59, 59);
}

.section10 img{
  height: 150px;
  width: 230px;
  margin-top:35px;

}


/* 
section 11
*/

.section11{
height: 600px;
background-color  :  rgb(255, 255, 255);

}

.title7 {
overflow: hidden;
text-align: center;
margin-top: 45px;

}
.title7 h1 {
display: inline-block;
vertical-align: middle;
font-weight: 700;
font-size: 25px;
color:rgb(54, 54, 54) ;
margin-top: 5px;
}

.title7:before,
.title7:after {
content: "";
display: inline-block;
vertical-align: middle;
width: 100%;
height: 4px;
background-color: rgb(230, 228, 228);
position: relative;
border: solid 1px gray;
}

.title7:before {
margin-left: -100%;
left: -10px;
}

.title7:after {
margin-right: -100%;
right: -10px;
}

.title7 span{
color: rgb(7, 163, 163);
}

.title7 h1 img{
padding-left: -8px;
}

.button6{
border-radius:5px;
text-transform: uppercase;
width: 160px;
height: 38px;
background-color: rgb(54, 54, 54)   ;  
border: solid 0px rgb(7, 163, 163) ;
font-weight:initial;
color: white;
font-weight: 750;
float: center;
font-size: 12px;
}

.button6-1{
margin-top: -23px;
}
.section-11-mainbox{
margin-top: 30px;
}

.section-11-box1{
height: 455px;
width: 25%;
text-align: center;
border: solid 1px rgba(128, 128, 128, 0.39);
margin-left: 30px;
margin-top: 40px;
}

.section-11-mainbox hr{
height: 0px;
border: solid 1px rgba(128, 128, 128, 0.493);
margin-top: 15px;
}

.section11-style-p1{
margin-top: 15px;
text-align: center;
color: rgb(54, 54, 54);
font-size: 15px;
}



.section11-style-p2{
margin-top: 0px;
text-align: center;
color: rgba(77, 76, 76, 0.712);
font-size: 14px;

}

.section11-style-i{
font-size: 55px;
text-align: center;
color: rgb(54, 54, 54);
}

.section11-sup{
font-size: 18px;
padding: 5px;
margin-top: 20px;
}

.section11-margin-top{
padding-top: 20px;

}

.section11-style-p1 img{
margin-left  : -40px;
}

.button7{
border-radius:5px;
text-transform: uppercase;
width: 140px;
height: 38px;
background-color: rgb(7, 163, 163)   ;  
border: solid 0px rgb(7, 163, 163) ;
font-weight:initial;
color: white;
font-weight: 750;
float: center;
font-size: 12px;
margin-top: 42px;
}

/* 
section 12
*/

.section12{
height: 100px;
background-color: white;
}


.section12 h3{
margin-top: 50px;
color:rgba(54, 54, 54, 0.815);
font-weight: 650;
font-size: 27px;
}

.section12 img{
margin-top: 5px  ;
}


.button8{
border-radius:5px;
width: 190px;
height: 45px;
background-color:rgb(7, 163, 163)  ;  
border: solid 1px rgb(7, 163, 163) ;
color: white;
float: right;
margin-top: -105px;
font-weight: 800;
}

/* 
section 13
*/

.section13{
height: 250px;
background-color:rgb(54, 54, 54) ;  
}

.section13-logo{
margin-left: 580px;
margin-top: 80px;
}



.socialmedia-icons{
margin-top: 32px;
margin-left: 500px;
}

.socialmedia-icons1{
  padding-left: 20px;
}


/* 
section 14
*/

.section14-input{
  width: 25%;
  position: absolute;
  margin-left: 80px;
  height: 340px;
  background-color: rgb(255, 255, 255);
  margin-top: 60px;
}

.section14-input1{
  padding: 5px;
  margin: 10px;
}



.button9{
margin-top: 20px;
margin-left: 18px;
border-radius:5px;
width: 300px;
height: 40px;
background-color:rgb(7, 163, 163)  ;  
border: solid 1px rgb(7, 163, 163) ;
color: white;
}

.section14-input textarea{
  height: 130px;
}
footer{
  height: 80px;
  background-color:rgb(54, 54, 54) ;
}

footer img{
  margin-left: 650px;
  margin-top: -25px;
}

footer p{
  color: white;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}

